// Colors
$soft-orange: rgb(233, 171, 83);
$soft-red: rgb(241, 94, 80);

$off-white: rgb(255, 253, 250);
$grayish-blue: rgb(197, 198, 206);
$dark-grayish-blue: rgb(93, 95, 121);
$dark-grayish-blue-shadow: rgba(93, 95, 121, 0.3);
$very-dark-blue: rgb(0, 0, 26);

// Typography
$ff-primary: "Inter", sans-serif;
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;
$fw-bold-extra: 800;
